<form method="post" action="/login">
  <label for="username-email">Username/Email: </label>
  <input type="text" id="username-email" name="username-email" placeholder="user@example.com"><br>

  <label for="password">Password: </label>
  <input type="password" id="username-email" name="password"><br>

  <input type="submit" value="Log In">
</form>