/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100vh;
    width: 100%;
  }
  
  body {
    background-image: url("../images/3955.jpg");
    background: lightblue;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: white;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 90%;
    border-radius: 5px;
    height: 80vh;
    overflow: auto;
  }

  
  body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(192, 192, 192);
  }

  .wrapper::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  .wrapper::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
  }

  .wrapper::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(192, 192, 192);
  }


  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    clear: both;
  }
  
  .flex-item {
    width: 200px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
  }

  .flex-container p {
    padding: 5px;
  }

  .logout-form {
    padding: 15px;
  }

  .logout-form {
    color: #9d9d9d;
  }

  .logout-form:hover {
    color: #fff;
  }

  .logout-button {
    background-color: #222;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  footer {
    background-color:#222;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    padding: 10px;
    color: #9d9d9d;
  }

  footer .container {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  #flash-message {
    color: red;
  }

  .form-container {
    padding-right: 70%;
  }

  #cart-button {
    margin: 10px;
  }

  .navbar {
    border-radius: 0;
  }

  #filter {
    float: right;
    margin: 10px;
  }

  .cart-footer {
    display: flex;
  }

  .cart-footer-item {
    margin: 20px;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}